*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   Arial, Helvetica, sans-serif
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    text-align: center;
}
#gameContainer h1{
   text-align: center;
   margin-bottom: 20px;
}
#scoreMessage{
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
#gameGrid{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    border: 1px solid black;   
}
.cell{
    border: 1px solid black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    cursor: pointer;
}
button{
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
}